body {
    height: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.container {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image_row {
    display: flex;
    flex-direction: row;
}

img {
    height: 80%;
    width: 80%
}