/* TO DO:  Make the description under the main image look pretty */

body {
    height: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.container {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column1 {
    height: 700px;
    max-width: 25%;
    min-width: 20%;
    padding-right: 20px;
}

/* .column2 {} */

.image_row {
    display: flex;
    flex-direction: row;
    grid-template-columns: 33% 67%;
}

img {
    height: auto;
    width: 80%;
}

.cat-list {
    height: inherit;
    overflow: scroll;
    padding: 5px;
}

.one_cat {
    padding: 10px;
}